@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.node__root > circle{
  fill:red;
  r:1;
}
.rd3t-label__title{
  fill: green;
}
.node__leaf > circle {
  fill: green;
  r:1;
}
